{% extends 'base.html' %}
{% load static %}
{% if formularioStaff.errors %}
<p style="color: red; text-align: left;">Por favor, revisar los datos.</p>
{% endif %}
{% block contenido %}
    <h2 style="color: white; text-align: left;">Ingrese miembro del Staff y Categoria</h2>
    <form action="" method="POST">{% csrf_token %}

        <table>


            {{ formulario3.as_table }}


        </table>


        <input type="submit", value="enviar">

    </form>
    {% if messages %}
    <ul class="messages" style="color: white;">
        {% for message in messages %}
        <li  style="color: white; text-align: left;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock contenido %}
